.bookingFormPage {
	min-height: 89vh;
  text-align: center;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
  gap: 1rem;
}

.bookingForm button {
	border: 2px var(--text-primary) solid;
	padding: 0.5rem;
}

.bookingForm button:hover {
	border: 2px var(--text-primary-hover) solid;
	background-color: var(--background-hover);
	padding: 0.5rem;
	color: var(--text-primary-hover);
}

.formLines {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
