@import "./styles/cards.css";
@import "./styles/flightsList.css";
@import "./styles/checkInfosPage.css";
@import "./styles/homepage.css";
@import "./styles/startingFormPage.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Space+Mono:wght@400;700&family=Zen+Dots&display=swap");

body {
	margin: 0;
	font-family: "Share Tech Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Share Tech Mono", monospace;
}

:root {
	--background: white;
	--background-hover: black;
	--text-primary: black;
	--text-primary-hover: white;
	--text-secondary: royalblue;
	--accent: purple;
}
[data-theme="dark"] {
	--background: black;
	--background-hover: white;
	--text-primary: white;
	--text-primary-hover: black;
	--text-secondary: grey;
	--accent: darkred;
}

.homeLogo {
	text-decoration: none;
	color: var(--text-primary);
	font-family: "Zen Dots", cursive;
}

.App {
	color: var(--text-primary);
	background-color: var(--background);
	font-size: large;
	font-weight: bold;
	padding: 20px;
	height: calc(100vh - 40px);
	transition: all 0.5s;
}

button {
	color: var(--text-primary);
	background-color: var(--background);
	border: 1px var(--text-primary) solid;
	transition: all 0.5s;
	font-family: "Share Tech Mono", monospace;
	padding: 1rem 1.2rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	height: 10vh;
	align-items: center;
}

@media only screen and (min-width: 360px) {
	nav {
		padding: 0;
	}
}
